<% title "Search" %>

<%= link_to "Refresh", refresh_search_path(@search) %>

<%= link_to "RSS Feed", search_path(@search) + ".atom" %>

<p>
  <h2><%= h @search.text %></h2>
  <%= @results.first ? @results.first.created_at.to_s(:long) : "" %>
</p>

<ul id="results">
  <%= render :partial => 'result', :collection => @results %>
</ul>


<p>
  <%= link_to "Edit", edit_search_path(@search) %> |
  <%= link_to "Destroy", @search, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", searches_path %>
</p>
